# Generate CSVs from COVID-19 WHO data

## Dependencies

In [1]:
import pandas as pd
import os
from datetime import datetime

INPUT_PATH = 'input/'
OUTPUT_PATH = 'public/data/'

REGIONS_CSV_PATH = os.path.join(INPUT_PATH, 'regions.csv')
DEATHS_CSV_PATH = os.path.join(INPUT_PATH, 'deaths.csv')
CASES_CSV_PATH = os.path.join(INPUT_PATH, 'cases.csv')

In [2]:
!mkdir -p $OUTPUT_PATH

## Load the data

In [3]:
df_regions = pd.read_csv(REGIONS_CSV_PATH)

Transform the "wide" format into "long" format, which is easier to work with.

In [4]:
def melt_csv(df, var_name):
    return df.melt(
        id_vars=df.columns[0], 
        value_vars=df.columns[1:], 
        var_name='location', 
        value_name=var_name
    ).dropna()

In [5]:
df_deaths = melt_csv(pd.read_csv(DEATHS_CSV_PATH, header=1).rename(columns={ 'Date': 'date' }), 'total_deaths')
df_cases = melt_csv(pd.read_csv(CASES_CSV_PATH, header=1).rename(columns={ 'Date': 'date' }), 'total_cases')

Convert all numbers from floating point to integers:

In [6]:
df_deaths['total_deaths'] = df_deaths['total_deaths'].astype('Int64')
df_cases['total_cases'] = df_cases['total_cases'].astype('Int64')

## Calculations

Join cases & deaths into one dataframe

In [7]:
df_merged = df_cases.merge(
    df_deaths, 
    how='outer', 
    left_on=['date', 'location'], 
    right_on=['date', 'location']
).sort_values(by=['location', 'date'])

Standardize names to OWID names

In [8]:
df_regions_merged = df_regions.merge(
    df_merged[['location']].drop_duplicates(),
    how="outer",
    left_on="WHO Country Name",
    right_on="location"
)

In [9]:
assert(df_regions_merged['OWID Country Name'].isnull().any() == False)

In [10]:
who_name_replace_map = { r['WHO Country Name']: r['OWID Country Name'] for r in df_regions_merged.to_dict('records') }

In [11]:
df_merged['location'] = df_merged['location'].replace(who_name_replace_map)

Calculate daily cases & deaths

In [12]:
df_merged['new_cases'] = df_merged.groupby('location')['total_cases'].diff().astype('Int64')
df_merged['new_deaths'] = df_merged.groupby('location')['total_deaths'].diff().astype('Int64')

Create a `Worldwide` aggregate

In [13]:
df_global = df_merged.groupby('date').sum().reset_index()
df_global['location'] = 'Worldwide'

In [14]:
df_merged = pd.concat([df_merged, df_global], sort=True)

Calculate doubling rates

In [15]:
def get_days_to_double(df, col_name):
    try:
        # verbose because being very careful not to modify original data with dates
        latest = df.loc[pd.to_datetime(df['date']).idxmax()]
        df_lt_half = df[df[col_name] <= (latest[col_name] / 2)]
        half = df_lt_half.loc[pd.to_datetime(df_lt_half['date']).idxmax()]
        return (pd.to_datetime(latest['date']) - pd.to_datetime(half['date'])).days
    except:
        return None

In [16]:
days_to_double_cases = pd.DataFrame([
    (loc, get_days_to_double(df, 'total_cases')) 
    for loc, df in df_merged.groupby('location')
], columns=['location', 'days_to_double_cases'])
days_to_double_cases['days_to_double_cases'] = days_to_double_cases['days_to_double_cases'].astype('Int64')

## Inspect the results

In [17]:
df_merged

,date,location,new_cases,new_deaths,total_cases,total_deaths
1925,2020-02-25,Afghanistan,NaN,NaN,1,NaN
1926,2020-02-26,Afghanistan,0,NaN,1,NaN
1927,2020-02-27,Afghanistan,0,NaN,1,NaN
1928,2020-02-28,Afghanistan,0,NaN,1,NaN
1929,2020-02-29,Afghanistan,0,NaN,1,NaN
1930,2020-03-01,Afghanistan,0,NaN,1,NaN
1931,2020-03-02,Afghanistan,0,NaN,1,NaN
1932,2020-03-03,Afghanistan,0,NaN,1,NaN
1933,2020-03-04,Afghanistan,0,NaN,1,NaN
1934,2020-03-05,Afghanistan,0,NaN,1,NaN
1935,2020-03-06,Afghanistan,0,NaN,1,NaN
1936,2020-03-07,Afghanistan,0,NaN,1,NaN
1937,2020-03-08,Afghanistan,3,NaN,4,NaN
1938,2020-03-09,Afghanistan,0,NaN,4,NaN
1939,2020-03-10,Afghanistan,0,NaN,4,NaN
1940,2020-03-11,Afghanistan,0,NaN,4,NaN
1941,2020-03-12,Afghanistan,3,NaN,7,NaN
1942,2020-03-13,Afghanistan,0,NaN,7,NaN
1752,2020-03-09,Albania,NaN,NaN,2,NaN
1753,2020-03-10,Albania,0,NaN,2,NaN
1754,2020-03-11,Albania,8,NaN,10,NaN
1755,2020-03-12,Albania,0,NaN,10,NaN
1756,2020-03-13,Albania,13,NaN,23,NaN
2044,2020-02-26,Algeria,NaN,NaN,1,NaN
2045,2020-02-27,Algeria,0,NaN,1,NaN
2046,2020-02-28,Algeria,0,NaN,1,NaN
2047,2020-02-29,Algeria,0,NaN,1,NaN
2048,2020-03-01,Algeria,0,NaN,1,NaN
2049,2020-03-02,Algeria,0,NaN,1,NaN
2050,2020-03-03,Algeria,4,NaN,5,NaN
...,...,...,...,...,...,...
23,2020-02-13,Worldwide,1826,254,46997,1369
24,2020-02-14,Worldwide,2056,13,49053,1383
25,2020-02-15,Worldwide,1526,143,50580,1526
26,2020-02-16,Worldwide,1277,142,51857,1669
27,2020-02-17,Worldwide,19572,106,71429,1775
28,2020-02-18,Worldwide,1903,98,73332,1873
29,2020-02-19,Worldwide,1872,136,75204,2009
30,2020-02-20,Worldwide,542,115,75748,2129
31,2020-02-21,Worldwide,1021,118,76769,2247
32,2020-02-22,Worldwide,1023,112,77794,2359
33,2020-02-23,Worldwide,1017,102,78811,2463
34,2020-02-24,Worldwide,517,155,79331,2618
35,2020-02-25,Worldwide,896,82,80239,2700
36,2020-02-26,Worldwide,864,62,81109,2762
37,2020-02-27,Worldwide,1175,42,82294,2804
38,2020-02-28,Worldwide,1353,54,83652,2858
39,2020-02-29,Worldwide,1748,66,85403,2924
40,2020-03-01,Worldwide,1727,53,87137,2977
41,2020-03-02,Worldwide,1801,64,88948,3043
42,2020-03-03,Worldwide,1912,67,90869,3112
43,2020-03-04,Worldwide,2217,86,93090,3198
44,2020-03-05,Worldwide,2220,79,95324,3280
45,2020-03-06,Worldwide,2864,99,98192,3380
46,2020-03-07,Worldwide,3730,104,101927,3486
47,2020-03-08,Worldwide,3644,96,105592,3584
48,2020-03-09,Worldwide,3979,224,109577,3809
49,2020-03-10,Worldwide,4119,201,113702,4012
50,2020-03-11,Worldwide,4611,275,118319,4292
51,2020-03-12,Worldwide,6936,317,125260,4613
52,2020-03-13,Worldwide,7488,338,132758,4955

In [18]:
df_merged[df_merged['location'] == 'Worldwide']

          date   location  new_cases  new_deaths  total_cases  total_deaths
0   2020-01-21  Worldwide          0           0          282             6
1   2020-01-22  Worldwide         32           0          314             6
2   2020-01-23  Worldwide        266          11          581            17
3   2020-01-24  Worldwide        262           8          846            25
4   2020-01-25  Worldwide        467          16         1320            41
5   2020-01-26  Worldwide        691          15         2014            56
6   2020-01-27  Worldwide        783          24         2798            80
7   2020-01-28  Worldwide       1792          26         4593           106
8   2020-01-29  Worldwide       1468          26         6065           132
9   2020-01-30  Worldwide       1750          38         7818           170
10  2020-01-31  Worldwide       2006          43         9826           213
11  2020-02-01  Worldwide       2121          46        11953           259
12  2020-02-02  Worldwide       2604          45        14557           305
13  2020-02-03  Worldwide       2834          57        17391           362
14  2020-02-04  Worldwide       3239          64        20630           426
15  2020-02-05  Worldwide       3913          66        24544           492
16  2020-02-06  Worldwide       3712          73        28276           565
17  2020-02-07  Worldwide       3205          73        31481           638
18  2020-02-08  Worldwide       3405          86        34886           724
19  2020-02-09  Worldwide       2672          89        37558           813
20  2020-02-10  Worldwide       2996          97        40554           910
21  2020-02-11  Worldwide       2549         108        43103          1018
22  2020-02-12  Worldwide       2068          97        45171          1115
23  2020-02-13  Worldwide       1826         254        46997          1369
24  2020-02-14  Worldwide       2056          13        49053          1383
25  2020-02-15  Worldwide       1526         143        50580          1526
26  2020-02-16  Worldwide       1277         142        51857          1669
27  2020-02-17  Worldwide      19572         106        71429          1775
28  2020-02-18  Worldwide       1903          98        73332          1873
29  2020-02-19  Worldwide       1872         136        75204          2009
30  2020-02-20  Worldwide        542         115        75748          2129
31  2020-02-21  Worldwide       1021         118        76769          2247
32  2020-02-22  Worldwide       1023         112        77794          2359
33  2020-02-23  Worldwide       1017         102        78811          2463
34  2020-02-24  Worldwide        517         155        79331          2618
35  2020-02-25  Worldwide        896          82        80239          2700
36  2020-02-26  Worldwide        864          62        81109          2762
37  2020-02-27  Worldwide       1175          42        82294          2804
38  2020-02-28  Worldwide       1353          54        83652          2858
39  2020-02-29  Worldwide       1748          66        85403          2924
40  2020-03-01  Worldwide       1727          53        87137          2977
41  2020-03-02  Worldwide       1801          64        88948          3043
42  2020-03-03  Worldwide       1912          67        90869          3112
43  2020-03-04  Worldwide       2217          86        93090          3198
44  2020-03-05  Worldwide       2220          79        95324          3280
45  2020-03-06  Worldwide       2864          99        98192          3380
46  2020-03-07  Worldwide       3730         104       101927          3486
47  2020-03-08  Worldwide       3644          96       105592          3584
48  2020-03-09  Worldwide       3979         224       109577          3809
49  2020-03-10  Worldwide       4119         201       113702          4012
50  2020-03-11  Worldwide       4611         275       118319          4292
51  2020-03-12  Worldwide       6936         317       125260          4613
52  2020-03-13  Worldwide       7488         338       132758          4955

## Write output files

In [20]:
df_merged.to_csv(os.path.join(OUTPUT_PATH, 'full_data.csv'), index=False)

In [21]:
for col_name in ['total_cases', 'total_deaths', 'new_cases', 'new_deaths']:
    df_pivot = df_merged.pivot(index='date', columns='location', values=col_name)
    # move Worldwide to first column
    cols = df_pivot.columns.tolist()
    cols.insert(0, cols.pop(cols.index('Worldwide')))
    df_pivot[cols].to_csv(os.path.join(OUTPUT_PATH, '%s.csv' % col_name))

In [22]:
days_to_double_cases.to_csv(os.path.join(OUTPUT_PATH, 'days_to_double_cases.csv'), index=False)

In [23]:
df_regions.to_csv(os.path.join(OUTPUT_PATH, 'regions.csv'), index=False)

Create `grapher.csv`

In [24]:
df_grapher = df_merged.copy()
df_grapher['date'] = pd.to_datetime(df_grapher['date']).map(lambda date: (date - datetime(2020, 1, 21)).days)

In [25]:
df_grapher[['location', 'date', 'new_cases', 'new_deaths', 'total_cases', 'total_deaths']] \
    .rename(columns={
        'location': 'country',
        'date': 'year',
        'new_cases': 'Daily new confirmed cases of COVID-19',
        'new_deaths': 'Daily new confirmed deaths due to COVID-19',
        'total_cases': 'Total confirmed cases of COVID-19', 
        'total_deaths': 'Total confirmed deaths due to COVID-19'
    }) \
    .to_csv(os.path.join(OUTPUT_PATH, 'grapher.csv'), index=False)